@page
@model InteractiveAssessment.Pages.Questions.TrueFalse.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Create True/False Question</h2>
<hr />

@*Form now has compatibillity for image upload in form*@
<form method="post" enctype="multipart/form-data">
    <div class="form-border-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*Bind hidden values when an multiple-choice question is created
            This will bind the assessmentId to the question
        *@
        <input type="hidden" asp-for="TrueFalse.AssessmentId" value="@Model.Assessment.Id" />
        <input type="hidden" asp-for="TrueFalse.QuestionType" value="True/False" />
        <input type="hidden" asp-for="TrueFalse.LastUpdated" value="@Model.CurrentDate" />
        <input type="hidden" asp-for="TrueFalse.VersionNo" value="1.0" />

        <br />
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="TrueFalse.QuestionTitle" class="custom-label"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="TrueFalse.QuestionTitle" class="form-control" />
            </div>
            <span asp-validation-for="TrueFalse.QuestionTitle" class="text-danger"></span>
        </div>
        <hr />
        
        <div class="form-group row has-success">
            <div class="col-sm-2">
                <label asp-for="TrueFalse.CorrectAnswer" class="custom-label"></label>
            </div>
            <div class="col-lg-3">
                @Html.DropDownListFor(m => m.TrueFalse.CorrectAnswer, Model.AnswerOptions, new { @class = "form-control" })
            </div>
        </div>
        <hr />
        <div class="form-group row has-warning">
            <div class="col-sm2">
                <label asp-for="TrueFalse.Feedback" class="custom-label"></label>
            </div>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.TrueFalse.Feedback, 10, 15, new { @class = "form-control" })
            </div>
            <span asp-validation-for="TrueFalse.Feedback" class="text-danger"></span>
        </div>
        <hr />
        @*Image Upload here*@
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="TrueFalse.Image" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <hr />
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.TrueFalse.Include, new { @checked = true }) Include question in assessment
            </label>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Create Question" class="btn btn-default btn-success" />
            <a asp-page="/Questions/Index" asp-route-id="@Model.Assessment.Id" class="btn btn-default btn-primary">Back to Questions</a>
        </div>
    </div>
</form>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

