@page
@model InteractiveAssessment.Pages.Questions.ShortAnswer.CreateModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Create Short Answer Question</h2>
<hr />

@*Form now has compatibillity for image upload in form*@
<form method="post" enctype="multipart/form-data">
    <div class="form-border-main">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @*Bind hidden values when an multiple-choice question is created
            This will bind the assessmentId to the question
        *@
        <input type="hidden" asp-for="ShortAnswer.AssessmentId" value="@Model.Assessment.Id" />
        <input type="hidden" asp-for="ShortAnswer.QuestionType" value="Short Answer" />
        <input type="hidden" asp-for="ShortAnswer.LastUpdated" value="@Model.CurrentDate" />
        <input type="hidden" asp-for="ShortAnswer.VersionNo" value="1.0" />

        <br />
        <div class="form-group row">
            <div class="col-sm-2">
                <label asp-for="ShortAnswer.QuestionTitle" class="custom-label"></label>
            </div>
            <div class="col-lg-6">
                <input asp-for="ShortAnswer.QuestionTitle" class="form-control" />
            </div>
            <span asp-validation-for="ShortAnswer.QuestionTitle" class="text-danger"></span>
        </div>
        <hr />

        <div class="form-group row has-success">
            <div class="col-sm-2">
                <label asp-for="ShortAnswer.CorrectAnswer" class="custom-label"></label>
            </div>
            <div class="col-lg-4">
                <input asp-for="ShortAnswer.CorrectAnswer" class="form-control" />
            </div>
            <span asp-validation-for="ShortAnswer.CorrectAnswer" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group row has-warning">
            <div class="col-sm2">
                <label asp-for="ShortAnswer.Feedback" class="custom-label"></label>
            </div>
            <div class="col-lg-6">
                @Html.TextAreaFor(m => m.ShortAnswer.Feedback, 10, 15, new { @class = "form-control" })
            </div>
            <span asp-validation-for="ShortAnswer.Feedback" class="text-danger"></span>
        </div>
        <hr />
        @*Image Upload here*@
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="ShortAnswer.Image" class="custom-label"></label>
            </div>
            <div class="col-sm-4">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <hr />
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.ShortAnswer.Include, new { @checked = true }) Include question in assessment
            </label>
        </div>

        <br />
        <div class="form-group">
            <input type="submit" value="Create Question" class="btn btn-default btn-success" />
            <a asp-page="/Questions/Index" asp-route-id="@Model.Assessment.Id" class="btn btn-default btn-primary">Back to Questions</a>
        </div>
    </div>
</form>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
