@page
@model InteractiveAssessment.Pages.Questions.ShortAnswer.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<br />
<h2>Delete Short Answer</h2>
<hr />

<form method="post">
    <div class="form-border-main">

        @*Bind hidden values when an multiple-choice question is created
            This will bind the assessmentId to the question
        *@
        <input type="hidden" asp-for="ShortAnswer.Id" />
        <input type="hidden" asp-for="ShortAnswer.AssessmentId" value="@Model.ShortAnswer.AssessmentId" />
        <input type="hidden" asp-for="ShortAnswer.QuestionType" value="Short Answer" />
        <input type="hidden" asp-for="ShortAnswer.LastUpdated" value="@Model.CurrentDate" />
        <fieldset disabled>
            <br />
            <div class="form-group row">
                <div class="col-sm-2">
                    <label asp-for="ShortAnswer.QuestionTitle" class="custom-label"></label>
                </div>
                <div class="col-lg-6">
                    <input asp-for="ShortAnswer.QuestionTitle" class="form-control" />
                </div>
            </div>
            <hr />

            <div class="form-group row has-success">
                <div class="col-sm-2">
                    <label asp-for="ShortAnswer.CorrectAnswer" class="custom-label"></label>
                </div>
                <div class="col-lg-4">
                    <input asp-for="ShortAnswer.CorrectAnswer" class="form-control" />
                </div>
            </div>
            <hr />
            <div class="form-group row has-warning">
                <div class="col-sm2">
                    <label asp-for="ShortAnswer.Feedback" class="custom-label"></label>
                </div>
                <div class="col-lg-6">
                    @Html.TextAreaFor(m => m.ShortAnswer.Feedback, 10, 15, new { @class = "form-control" })
                </div>
            </div>
            <hr />
            @*Image Upload here*@
            <div class="form-group row">
                <div class="col-md-2">
                    <label asp-for="ShortAnswer.Image" class="custom-label"></label>
                </div>
                <div class="col-sm-4">
                    <input type="file" name="files" multiple class="form-control" />
                </div>
            </div>
            @if (Model.ShortAnswer.Image != null)
            {
                <div style="padding-left:190px">
                    <img src="@Model.ShortAnswer.Image" style="border-radius:5px; width:35%; border: 1px solid #bbb9b9" />
                </div>
            }
            <hr />
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.ShortAnswer.Include, new { @checked = true }) Include question in assessment
                </label>
            </div>
        </fieldset>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete Question" class="btn btn-default btn-danger" />
            <a asp-page="/Questions/Index" asp-route-id="@Model.ShortAnswer.AssessmentId" class="btn btn-default btn-primary">Back to Questions</a>
        </div>
    </div>
</form>

